.login-wrapper {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;   
    background-color: gray; 
    
}

.submit-button {
    padding-top: 20px;
}

.border {
    border-style: solid;
    background-color: green;
    color: white;
    padding: 50px;
}